@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Lora:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --titulo: 'Lora', serif;
    --palabras: 'Poppins', sans-serif;
    --bgSun_azulOscuro: #006a89;
    --bgSun_azulClaro: #86beda;
    --bgMoon_gris: #555;
    --bgMoon_grisOscuro: #333;
    --bgMoon_amarillo: #e5be01;
    --color_blanco: #fff;
    --fontSize_titulo: 9rem;
    --fontSize_parrafo: 1.5rem;
}

*,*::after,*::before{
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html{
    overflow-x: hidden;
    margin: 0;
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
}

/* -------------------------------------|  HEADER  |--------------------------------------- */

.hcont1{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2.5rem;
    background-color: var(--bgSun_azulClaro);
    box-shadow: 2px 4px 10px #000;
    z-index: 999;
}

.logo{
    font-family: var(--titulo);
    font-size: 2.5rem;
    color: var(--color_blanco);
}

.logo span{
    color: var(--bgSun_azulOscuro);
}

.logo:hover{
    animation-name: moverLogo;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes moverLogo {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-2rem);
        -webkit-transform: translateY(-2rem);
        -moz-transform: translateY(-2rem);
        -ms-transform: translateY(-2rem);
        -o-transform: translateY(-2rem);
    }
}

.btnDarkMode,
.btnMenu{
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    padding: 1rem;
    margin: 0 .5rem;
    pointer-events: unset;
    opacity: 1;
}


.btnDarkMode:hover,
.btnMenu:hover{
    padding: 1.5rem;
}

.imgDarkMode,
.imgMenu{
    pointer-events: none;
}

.hcont2{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bgSun_azulClaro);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    z-index: 998;
}

.btnHora,
.btnAlarma,
.btnCronometro{
    padding: 1rem;
    width: 15rem;
    margin: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.btnHora:hover,
.btnAlarma:hover,
.btnCronometro:hover{
    background-color: var(--bgSun_azulOscuro);
    color: var(--color_blanco);
}

.btnImg{
    width: 3.5rem;
    pointer-events: none;
}
.btnParrafo{
    margin: 0;
    font-family: var(--titulo);
    font-size: 1.5rem;
    pointer-events: none;
}

/* ----------------------------| SECCION BIENVENIDA  |----------------------------------- */

.bTitulo{
    font-family: var(--titulo);
    font-size: var(--fontSize_titulo);
    text-align: center;
    color: var(--bgSun_azulOscuro);
}

/* ----------------------------| SECCION HORA  |----------------------------------- */

.Main{
    position: absolute;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    z-index: 990;
}

.btnImg2{
    width: 2.5rem;
}

.configuracion{
    position: absolute;
    top: 5rem;
    right: 3rem;
    z-index: 985;
}

.btnMinus,
.btnPlus,
.btnFullScreen{
    border-radius: 50%;
    padding: 1rem;
    margin: 0 .5rem;
    background-color: var(--bgSun_azulOscuro);
    cursor: pointer;
    pointer-events: unset;
    opacity: 1;
}

.btnMinus:hover,
.btnPlus:hover,
.btnFullScreen:hover{
    background-color: var(--bgSun_azulClaro);
}


.bienvenida,
.hora,
.alarma,
.cronometro{
    position: absolute;
    left: 0;
    right: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 2em;
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 980;
}

.contHora,
.contHFecha{
    display: flex;
    justify-content: center;
    font-family: var(--palabras);
    font-size: var(--fontSize_titulo);
    color: var(--bgSun_azulOscuro);
}

.contHFecha{
    font-size: 4rem;
}

.contHParrafo{
    font-family: var(--palabras);
    font-size: var(--fontSize_parrafo);
    margin: 0 10rem;
    padding: 2rem;
    background-color: var(--bgSun_azulOscuro);
    color: var(--color_blanco);
}

/* -------------------------------|  SECCION ALARMA  |---------------------------- */

.formAlarma{
    text-align: center;
}

.formAlarma label{
    font-family: var(--titulo);
    font-size: 2.5rem;
    /* color: var(--bgSun_azulOscuro); */
    margin: 1rem;
}

#al_hora,
#al_min{
    width: 10rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, .1);
    font-family: var(--palabras);
    font-size: 1.4rem;
    color: var(--bgSun_azulOscuro);
}

.btnAl_reset,
.btnAl_iniciar{
    display: block;
    margin: 1rem auto;
    width: 10rem;
    font-family: var(--palabras);
    font-size: 1.7rem;
    border-radius: .6rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.al_pHora,
.al_pMin{
    color: #f00;
    font-family: var(--palabras);
    font-size: 1.3rem;
}

.btnAl_reset:hover,
.btnAl_iniciar:hover{
    background-color: var(--bgSun_azulOscuro);
    color: var(--color_blanco);
}

/* ------------------------------|  SECCION CRONOMETRO  |--------------------------------- */

.contCronometro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--palabras);
    font-size: var(--fontSize_titulo);
    color: var(--bgSun_azulOscuro);
}

.btnCrReset,
.btnCrIniciar{
    display: block;
    margin: 1rem auto;
    width: 10rem;
    font-family: var(--palabras);
    font-size: 1.7rem;
    border-radius: .6rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

.btnCrReset:hover,
.btnCrIniciar:hover{
    background-color: var(--bgSun_azulOscuro);
    color: var(--color_blanco);
}

/* ------------------------------- |  SHOW  |----------------------------- */

.btnShow{
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

.showSeccion{
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.temaBgOscuro{
    background-color: var(--bgMoon_gris);
}
.temaBg2Oscuro{
    background-color: var(--bgMoon_grisOscuro);
}
.temaBgHover:hover{
    background-color: var(--bgMoon_amarillo);
}
.temaBgAma{
    background-color: var(--bgMoon_amarillo);
}
.temaColor{
    color: var(--bgMoon_amarillo);
}
.temaColor2{
    color: var(--color_blanco);
}